.polosa {
  background-color: #77ffe1;
}

body.landing.bg {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

body.landing * {
  transition: all .3s ease;
}

.compact {
  display: none;
}

.polosa {
  background-color: #77ffe1;
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  /*background-color: #FAFAFA;*/
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.ground {
  width: 100%;
  background-color: rgb(122, 139, 139);
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  margin-top: 27px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}

.mainSection.center {
  text-align: center;
}

.mainSection.center h2 {
  font-size: 44px;
  line-height: 56px;
}

.mainSection.center p {
  margin-top: 26px;
}

.mainSection.center section {
  top: 190px;
  width: 100%;
}

.mainSection section {
  position: absolute;
  top: 189px;
  width: 580px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 60px;
}

.mainSection.right section p,
.mainSection.right section h2,
.mainSection.center section p,
.mainSection.center section h2 {
  color: white;
}

.mainSection section figure {
  width: 30px;
  height: 4px;
  margin-top: 59px;
}

/*.mainSection.left section figure {
  margin-left: -5px;
}*/

.mainSection.right section figure {
  margin-left: -1px;
}

.mainSection.center section nav {
  margin-top: 60px;
  font-size: 0;
}

.knopka {
  margin-left: 560px;
}
.mainSection.center section nav a {
  margin: 0 10px;
}

.mainSection.center footer {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 100%;
  padding-bottom: 62px;
}

.mainSection.center footer p {
  font-size: 16px;
  color: white;
}

.mockup {
  position: absolute;
  background-size: cover;
}

/*.container {
	align-items: flex-end;
	display: flex;
	justify-content: center;
}*/


/*.Media {
  margin: 47px auto;
  right: 300px;
  display: flex;
  align-items: flex-start;
}

.Media-figure {
  width: 140px;
  margin-right: 33px;

}

.Media-body {
  position: relative;
  left: 122px;
  margin-top: -50px;
   flex: 0 0 auto;

}*/


#mockup1 {
  top: 233px;
  right: 160px;
  width: 530px;
  height: 570px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  /*opacity: 0.4;*/
}

#mockup2_1 {
  top: 193px;
  left: 160px;
  width: 140px;
  height: 317px;
  background-image: url(../images/about.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup2_2 {
  top: 193px;
  left: 333px;
  width: 140px;
  height: 395px;
  background-image: url(../images/works.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup2_3 {
  top: 193px;
  left: 506px;
  width: 140px;
  height: 474px;
  background-image: url(../images/work.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  width: 765px;
  height: 406px;
  top: 340px;
  right: 40px;
  background-image: url(../images/screens.png);
}

@media screen and (max-width: 1440px) {
  .landingWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1180px) {
  body.landing.bg {
    background-image: url(../images/mockups/1180FB.png);
  }

  .landingWrapper {
    width: 100%;
  }
  .mainSection {
    width: 1180px;
    height: 568px;
  }
  .mainSection h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .mainSection p {
    margin-top: 18px;
    font-size: 18px;
    line-height: 27px;
  }

  .mainSection.center h2 {
    font-size: 28px;
    line-height: 37px;
  }

  .mainSection.center p {
    margin-top: 21px;
  }

  .mainSection section {
    top: 105px;
    width: 410px;
  }

  .mainSection.left section {
    left: 190px;
  }

  .mainSection.right section {
    right: 190px;
  }

  .mainSection.center section {
    top: 132px;
  }

  .mainSection section figure {
    width: 147px;
    height: 14px;
    margin-top: 100px;
  }

  .mainSection.left section figure {
    margin-left: -40px;
  }

  .mainSection.right section figure {
    margin-left: 303px;
  }

  .mainSection.center section nav {
    margin-top: 50px;
  }

  .mainSection.center section nav a {
    margin: 0 6px;
  }

  #mockup1 {
    top: 85px;
    right: 0;
    width: 521px;
    height: 470px;
  }

  #mockup2 {
    top: 70px;
    left: 148px;
    width: 380px;
    height: 478px;
  }

  #mockup3 {
    top: 72px;
    right: -444px;
    width: 960px;
    height: 555px;
  }

}

@media screen and (max-width: 840px) {
  body.landing.bg {
    background-image: url(../images/mockups/840SB.png);
  }

  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .mainSection {
    width: 840px;
    height: 1024px;
  }
  .mainSection h2 {
    font-size: 28px;
    line-height: 32px;
  }

  .mainSection p {
    margin-top: 18px;
    font-size: 16px;
    line-height: 27px;
  }

  .mainSection.center h2 {
    font-size: 28px;
    line-height: 37px;
  }

  .mainSection.center p {
    margin-top: 21px;
  }

  .mainSection section {
    top: 143px;
    width: 410px;
  }

  .mainSection.left section {
    left: 20px;
  }

  .mainSection.right section {
    right: 190px;
  }

  .mainSection.center section {
    top: 132px;
  }

  .mainSection section figure {
    width: 147px;
    height: 14px;
    margin-top: 100px;
  }

  .mainSection.left section figure {
    margin-left: -40px;
  }

  .mainSection.right section figure {
    margin-left: 303px;
  }

  .mainSection.center section nav {
    margin-top: 50px;
  }

  .mainSection.center section nav a {
    margin: 0 6px;
  }


@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #mockup1 {background-image: url(../images/landing/landing-mockup-1@2x.jpg);}
  #mockup2 {background-image: url(../images/landing/landing-mockup-2@2x.jpg);}
  #mockup3 {background-image: url(../images/landing/landing-mockup-3@2x.jpg);}
}
