.btn {
  display: block;
  border-style: solid;
}

.blue {
  text-align: center;
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #77FFE1;
  color: black;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.line {
  font-family: 'PT Sans', sans-serif;
  line-height: 46px;
  font-size: 16px;
  text-decoration: underline;
  color: white;
}


@media screen and (max-width: 1179px) {
  .line {
    font-size: 13px;
    line-height: 34px;
  }

  .blue {
    width: 214px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
  }
}
